@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');
@import-normalize;
@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

:root {
  --mainFont: 'Calistoga', cursive;
  --textColor: #3a3042;
  --backgroundColor:  #db9d47;
  --accentColor:  #f9f5ec;
  --borderColor: #3a3042;
  
  background-color: var(--backgroundColor);
  color: var(--textColor);
  font-family: var(--mainFont);
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.content-container {
  max-width: 1280px;
}

button {
  border-radius: 10px;
  border: 2px solid var(--borderColor);
  font-family: "Calistoga", cursive;
  padding: 0.5em;
  color: var(--textColor);
  text-align: center;
  transition: transform 0.2s, box-shadow 0.2s;
  box-shadow: 5px 5px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--textColor);
}

h1.margin{
  text-align: center;
  margin: 1em;
}

main{
  flex-grow: 1;
}

.box {
  background-color: var(--accentColor);
  border: 2px solid var(--borderColor);
  box-shadow: 5px 5px;
  border-radius: 10px;
}

/*-------------------- Menu bar --------------------*/

a.log-in.button,
a.sign-up.button{
  background-color: var(--accentColor);
}

.header-menu-bar {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 1em;
  margin: 0 auto;
}

.header-menu-bar p {
  align-self: center;
  margin: 1em;
}

.menu-link {
  text-decoration: none;
  color: var(--textColor);
  font-weight: bold;
  font-size: 1.2em;
}

.menu-links-container {
  display: flex;
  gap: 1.5em;
}

/*-------------------- Header --------------------*/

.header-container {
  width: 100%;
  text-align: center;
  margin: 2em auto;
  display: flex;
  flex: 1;
  justify-content: space-between;
  height: 50vh;
  /* border: 2px solid var(--borderColor); */
}

.header-img-container {
  width: 100%;
  height: auto;

}

.header-text-container {
  background-color: var(--accentColor);
  border-top: 2px solid var(--borderColor);
  border-bottom: 2px solid var(--borderColor);
  border-left: 2px solid var(--borderColor);
  border-radius: 10px 0 0 10px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  justify-content: space-around;
}

#header-img {
  width: auto;
  max-height: 100%;
  border-radius: 0 10px 10px 0;
  border: 2px solid var(--borderColor);
}

a.button {
  border-radius: 10px;
  margin: 1em 1em;
  font-family: "Calistoga", cursive;
  padding: 0.5em;
  border: 2px solid var(--borderColor);
  background-color: var(--backgroundColor);
  color: var(--textColor);
  box-shadow: 5px 5px;
  text-decoration: none;
  text-align: center;
  transition: transform 0.2s, box-shadow 0.2s;
}

a.button:hover {
  transform: translate(2px, 2px); /* Move the button down and to the right */
  cursor: pointer;
}

a.button:active {
  transform: translate(2px, 2px); /* Move the button down and to the right */
}

.log-in:hover, 
.sign-up:hover {
  transform: translate(2px, 2px);/* Move the button down and to the right */
  box-shadow: 3px 3px var(--backgroundColor);
}

.log-in:active, 
.sign-up:active {
  transform: translate(2px, 2px);/* Move the button down and to the right */
  box-shadow: 3px 3px var(--backgroundColor);
}

.log-in-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.button.cta-button {
  background-color: var(--backgroundColor);
  padding: 1em;
}

.cta-button:hover, 
.cta-button:active {
  transform: translate(2px, 2px);/* Move the button down and to the right */
  box-shadow: 3px 3px var(--accentColor);
}

/*-------------------- Homepage --------------------*/

.pics-container {
  display: flex;
  gap: 4em;
  margin-bottom: 3em;
}

.companion-container {
  text-align: center;
}

.companion-container h2 {
  padding: 2em;
  font-size: 2em;
}

/*-------------------- AnimalCard --------------------*/

.animal-pic-container {
  /* width: 25%;  */
  padding: 20px; 
  position: relative; 
}

.animal-pic-container::after {
  /* content: ""; */
  display: block;
  height: 60px; 
  background-color: var(--accentColor);
  position: absolute;
  border-radius: 5px;
  bottom: 0;
  left: 0;
  right: 0;
}

figcaption{
  text-align: center;
  padding: 1em;
}


/*-------------------- Footer --------------------*/

footer {
  width: 100%;
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}
/*-------------------- Contact Page --------------------*/

.form-container {
  width: 50%;
  margin: 2em auto;
  padding: 5em;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
}

.checkbox-container {
  display: flex;
  flex-direction: column;
}

input, 
textarea {
  line-height: 2em;
}

.create-add-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 50%;
  margin: 2em auto;
}

fieldset {
  border: none;
  display: flex;
  gap: 0.5em;
}

input[type="file"],
input[type="radio"],
input[type="checkbox"] {
  border: none;
  box-shadow: none;
}

input[type="radio"]{
  margin: 0.2em;
}

button[type="submit"]{
  width: 10%;
  align-self: center;
  margin: 1em;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  align-items: center;
}

/*-------------------- Pets Page --------------------*/

.animal-card-container {
  display: grid;
  gap: 2em;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 90%;
  margin: 2em auto;
}

h1.pets-page-heading{
  text-align: center;
  margin: 2em 0;
}

/*-------------------- Pet Details Page --------------------*/

.pet-detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  margin: 2em auto;
  padding: 2em;
  gap: 1em;
}

.button.contact:hover,
.button.contact:active{
  box-shadow: none;
}

/*-------------------- Message Page --------------------*/

/*-------------------- User Profile Page --------------------*/

.user-profile-container {
  margin: 2em auto;
}

/*-------------------- Write Message --------------------*/

.write-message-container {
  margin: 2em auto;
}

.message-form{
  display: flex;
  flex-direction: column;
}